@model StonePlusCalc.Models.Stone

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Convert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Convert)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StoneID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
